body {
    background-color: whitesmoke;
}

.line_1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

.line_2 {
    text-align: center;
}

.logo {
    background-color: rgb(34, 130, 205);
    color: white;
    padding: 5px;
    font-size: 10px;
    border-radius: 47% 53% 49% 51% / 47% 53% 49% 51%;
}

.main_div {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
    border-radius: 10px;
    width: 650px;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 30px;
}

.inline_block {
    display: inline-block;
}

.input_width {
    width: 280px;
}

.email_width {
    width: 100%;
}

.password_width {
    width: 590px;
}

.input2_width {
    width: 100%;
}

/*

.margin {
    margin-left: 15px;
}

.input_width {
    width: 100%;
}

.password_input {
    width: 590px;
}  */